/* app.css */

.app {
    font-family: Arial, sans-serif; 
    margin: 0 auto; 
    padding: 20px; 
    max-width: 500px; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
  }
  
  h1 {
    text-align: center; 
    margin-bottom: 20px; 
  }
  
  .input-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  }
  
  input[type="text"] {
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 3px; 
    width: 70%;
  }
  
  .btn {
    padding: 10px 20px; 
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    border-radius: 3px;
    cursor: pointer;
  }
  
  .hinhnguoidung {
    max-width: 100%; 
    display: block; 
    margin-top: 20px; 
  }
  

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  /* Active Link Style */
  .nav-links a.active {
    color: #007bff; /* Change active link color */
  }
  